# Q1

In [ ]:
name = input("Enter Your Name: ")
print("Hello ",name)

# Q2

In [ ]:
hours = int(input("Enter Hours: "))
rate = float(input("Enter Rate: "))
print("Pay :", hours*rate)

# Q3

In [ ]:
width = 17
print(type(width))
height = 12.0
print(type(height))
answer = width//2
print(answer)
print(type(answer))
answer = width/2.0
print(answer)
print(type(answer))
answer = height/3
print(answer)
print(type(answer))
1 + 2 * 5

# Q4

In [ ]:
temp = float(input("Enter temperature in Celcius: "))
print("Temperature in Fahrenheit is:", (temp*1.8) + 32 )

# Q5

In [ ]:
import math
number = int(input("Enter a Number:"))
square_r = math.sqrt(number)
print(square_r)

if (square_r*square_r == number):
    print("Entered Number is Perfect square.")
else:
    print ("Entered Number is not Perfect square.")

# Q5_1

In [ ]:
num_1=int(input("Enter number to check for perfect square: "))
num_2 = num_1//2
for i in range(num_2):
    if(i*i==num_1):
        print("Entered Number is Perfect square.")
else:
    print("Entered Number is not Perfect square.")

# Q6

In [ ]:
p = float(input("Enter principle: "))
r = float(input("Enter Rate of interest: "))
t = int(input("Enter time Duration: "))
interest = float(p*r*t)
print("Interest Rate is:" ,interest)
round(interest)
print(interest)

# Q7

In [ ]:
complex_num = 6 + 9j
print(complex_num)
#print(type(complex_num))
a = complex(4,5)
b = 6 + 4j
print ("Addition : ", a+b)
Addition = a+b
print("Addition :", Addition)
a = -3 + 7j
b = complex (4,-9)
print ("Subtraction: ", a-b)
Subtraction = a-b
print("Subtraction: ", Subtraction)
a = -3 + 7j
#you cant use i
b = complex (4,-9)
print ("Multiplication: ", a*b)
Multiply = a*b
print("Multiplication: ", Multiply)

# Q8

In [ ]:
my_string = "Enter the letter in the title case."
my_string.title()

# Q9

# Strings

# Q1

In [ ]:
s = 'X-DSPAM-Confidence:0.8475'
split_1 = s.split(":")
print(split_1)
print(split_1[1])
print(type(split_1[1]))
float(split_1[1])
#print(type(split_1[1]))

# Q2

In [ ]:
my_str = "Welcome to the Course on Data Science."
new_str = my_str.split(" ")
print(new_str)
print(my_str[0:10])
my_str1 = new_str[0]+" "+new_str[6]
print(my_str1)

# Q3

In [ ]:
 my_str = "Welcome to the Course on Data Science."
#my_str.count("e")
print("Count of alphabet is: ", my_str.count("e"))

# Q4

In [ ]:
my_str = "Welcome to to the Course to on Data Science."
print("Count of words is: ", my_str.count("to"))

# Q5

In [ ]:
my_str = "I am a student"
print((my_str[0:2])+" "+(my_str[-2:]))

# Next Assignment 3/14/2022

# Lists

# Q1

In [ ]:
list_1 = [ 12, 13, 14, 15, 16 ]
print(list_1)

list_1.remove(12)
list_1.remove(16)

list_2 = list_1

print(list_2)

In [ ]:
list_1 = [ 12, 13, 14, 15, 16 ]
print(list_1)

del list_1[0]
del list_1[-1]

list_2 = list_1

print(list_2)

# Q2

In [ ]:
list_2 = ["pencil", "python", "mango", "python", "Word"]
l = 0


for item in list_2:
    print(list_2.count(item))

print("--------------")

for index in range(len(list_2)):
    item = list_2[index]
    print(list_2.count(item))

In [ ]:
for item in list_2:
    if(list_2.count(item) == 1 ):
        print(item, "is Unique")

# Q3

In [ ]:
li = [12,13,43,67]
sum(li)

In [ ]:
li = [12,13,43,67]
li.insert(56,4)
print(li)

print("--------------")

li = [12,13,43,67]
li.append(98)
print(li)

# Q4

In [ ]:
list1=[8,5,9,2,0,9]

print(max(list1))
print(min(list1))

# Q5

In [ ]:
list1=[8,5,9,2,0,9]
print(list1)
list2=set(list1)
print(list2)

# Q6

In [ ]:
list1=set([8,5,9,2,0,9])
list2=set([8,5,6,7,8,9])

list3 = list1.intersection(list2)
print(list3)

if ( len(list3) >=1 ):
    print("lists are same")

# Q7

In [ ]:
list2= ['M', 'i', 'n', 'a', 'l']
print(list2)
print("-------------")

my_list = ""
for i in list2:
    my_list = my_list + i

In [ ]:
print(my_list)

# Q8

In [ ]:
list1=set([8,5,9,2,0,9])
list2=set([8,5,6,7,8,9])


if (list1==list2):
    print(True, "The given two lists are identical")
    
else:
    print(False, "The given two lists are not identical")

# Q9

In [ ]:
list1=set([8,5,9,2,0,9])
list2=set([8,5,6,7,8,9])

list3 = list1.difference(list2)
print(list3)

list4 = list2.difference(list1)
print(list4)

# Q10

In [ ]:
list1 = [8,5,9,2,0,9,5]
print(list1)
print("----------------")
l = 0
for item in list1:
    #print(list_1.count(list_1[item]))
    print (list1[l], " occured ", list1.count(list1[l]), " times")
    l += 1
    print("----------------")

# Q11

In [ ]:
list_1 = [ [12,13,14], [17,18,19], [15,16], [1,2,3], [9,0,8] ]
print(sum(list_1[0]))
print(sum(list_1[1]))
print(sum(list_1[2]))
print(sum(list_1[3]))
print(sum(list_1[4]))
maximum = 0
num = 0

for i in list_1:
    if ( sum(i) > maximum ):
        num = num + 1
        maximum = sum(i)

In [ ]:
#list number 3 has maximum Sum
print(num)
print(maximum)

# Q12

In [ ]:
list1 = ["is", "a", "list"]
list1.insert( 0 , "this")
list1

# Q13

In [ ]:
str1 = "Firefox"
list1 = []

for i in str1:
    list1.append(i)

In [ ]:
print(list1)

# Q14

In [ ]:
list1= [8,5,9,2,0,9]
list2= [8,5,6,7,8,9,5,6,7]
list3 = []
for i in range(len(list1)):
    list3 = print(str(list1[i])+ " " +str(list2[i]) )

# Q15

# Q16

In [ ]:
list1 = [25, 12, 2]
print(list1)
print("-------------")

for i in list1:
    my_str  = int("".join(map(str, list1)))

In [ ]:
print(my_str)

# Tuples

# Q1

In [1]:
tuple1 = (1,2,3)
print(tuple1)

tuple2 = ()
l=0
#print(tuple1[0])
print("------------------")

for i in tuple1:
    tuple2+= ((tuple1[l],),)
    l+=1
    print(tuple2)

(1, 2, 3)
------------------
((1,),)
((1,), (2,))
((1,), (2,), (3,))

# Q2

In [ ]:
li = [ 1,2,'M',True,(1,2,3)]
print(type(li[0]))
print(type(li[2]))
print(type(li[3]))
print(type(li[4]))
l = -1
#l = 0
emp_tuple = ()
for i in li:
    l = l + 1
    if (type(li[l]) == tuple):
        emp_tuple = li[l]
        #l+=1
        print(emp_tuple)

# Q3

In [ ]:
tup1 = (1,2,3,4,5)
tup2 = (6,7,8)
l=0
tup3 =()
for i in tup2:
    tup3 += (tup1[l]+tup2[l],)
    l+=1
    print(tup3)

# Q4

In [ ]:
tup1 = (1,2,3,4,5)

l=0
tup3 =()
for i in tup1:
    tup3 += (tup1[l]*3,)
    l+=1
    print(tup3)

# Sets

# Q1

In [ ]:
set1 = {1,2,3,4,5}
print(4 in set1)
print(2 in set1)
print(9 in set1)
print(1 in set1)
print(8 in set1)

# Q2

In [ ]:
list1 = [1,2.1,2.4,2,4,5,6,7,8,4,3,5,3,8,9,0,1,0,4]
print(list1)

print("---------------")

list2 = set(list1)
print(list2)

# Q3

In [ ]:
list1 = ["192.168. 1.1", "192.168. 1.2"]
list2 = ["192.168. 1.2", "192.168. 1.1"]
l=0
k=-1
for i in list1:
    k+=1
    l=0
    for j in list2:
        if (list1[k]==list2[l]):
            print(l+1, ":IP is same")
        l+=1

# Dictionaries

# Q1

In [ ]:
dic = {'Roll No 1': '45' , 'Roll No 2': '47', 'Roll No 3': '49'}
print(dic.keys())
print(dic.values())
print(dic['Roll No 1'])
print(dic['Roll No 2'])
print(dic['Roll No 3'])

# Q2

In [ ]:
comm = {
'chair' : 10,
'table' : 22,
'sofa-set': 2,
'tv-unit': 0,
'fan': 10,
'table-lamp': 0,
'iron-box': 0,
'bed': 30
}

price = {
'chair': 2365,
'table': 37752,
'sofa-set': 23299,
'tv-unit': 120344,
'bed': 40226
}

income =0

while True: 
    my_item = input(print("Enter the item You want to buy: "))
    if  my_item == "quit":
        break
        
    quan = int(input("Enter the Quantity you want: "))  
    if my_item in comm.keys():
        print("Wow, we have the item you entered.")
    else:
        print("Sorry, the item you entered is not available at our shop.")
    if comm[my_item] == 0 :
        print("But The item isn't in stock Right now.")
    if quan <= comm[my_item]:
        print("We have the quantity you entered for the given item.")
    else:
        print("We do not have this much quantity you entered for the given item.")

    income = income + (price[my_item]) * quan
    print("Income of shop owner is:", income)

Enter the item You want to buy: