In [1]:
#tuples are written inside parenthesis
data=('Sania', 'Tuba', 'Rida')
type(data)

tuple

In [2]:
data1=['Sania', 'Tuba', 'Rida']
type(data1)

list

In [3]:
data1[0] ='GMD'
print(data1)

['GMD', 'Tuba', 'Rida']

In [6]:
my_tuple = ("Apple", "Mango", "Banana", "Appricot")
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Apple', 'Mango', 'Banana', 'Appricot')

In [7]:
one_t = ('mango')
print(type(one_t))
one_t1 = ("mango",)
print(type(one_t1))

<class 'str'>
<class 'tuple'>

In [12]:
tuple1 = ("How", 23 , True)
tuple2 = ("When", 23 , False)
tuple3 = tuple1 + tuple2
print(tuple3)
print(len(tuple3))

('How', 23, True, 'When', 23, False)
6

In [11]:
tuple1 = ("How", 23 , True)
tuple2 = ("When", 23 , False)
tuple3 = (tuple1,tuple2)
print(tuple3)
print(len(tuple3))

(('How', 23, True), ('When', 23, False))
2

In [20]:
#repitiotion
#string
tup = ("Mango") *3
print(tup)
print(len(tup))
print(type(tup))
#tuple
tup = ("Mango",) *3
print(tup)
print(len(tup))
print(type(tup))

MangoMangoMango
15
<class 'str'>
('Mango', 'Mango', 'Mango')
3
<class 'tuple'>

In [23]:
tup = ("Mangoes", "are", "my favourite")
tup[0:2]
#tup[0]

('Mangoes', 'are')

In [25]:
tup = ("Mangoes", "are", "my favourite")
#tup[0:2]
tup[0]

'Mangoes'

In [5]:
tup = ("M", "N", "O", 1 , 2, 3, 4, True, False)
print(tup[0:2])
print(tup[4:])
print(tup[:2])
print(tup[1:-4])
print(tup[:-4])
print(tup[0],)

('M', 'N')
(2, 3, 4, True, False)
('M', 'N')
('N', 'O', 1, 2)
('M', 'N', 'O', 1, 2)
M

In [6]:
tuple1 = (1,2,3)
print(tuple1)

tuple2 = ()
l=0
#print(tuple1[0])
print("------------------")

for i in tuple1:
    tuple2+= (tuple1[l],)
    l+=1

(1, 2, 3)
------------------

In [7]:
print(tuple2)

(1, 2, 3)

In [8]:
li = [ 1,2,'M',True,(1,2,3)]
print(type(li[0]))
print(type(li[2]))
print(type(li[3]))
print(type(li[4]))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'tuple'>